* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  z-index: 3;
}

.navbar.navbar-dark {
  background-image: linear-gradient(-45deg, #2E8B19, #1367A5);
  z-index: 2;
}

.navbar.navbar-dark .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
}

.navbar.navbar-dark .navbar-brand img {
  margin-right: 10px;
}

.navbar.navbar-dark .input-group {
  width: auto;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 500px;
  margin-right: auto;
}

.navbar.navbar-dark .input-group .form-control {
  background-color: white;
  border-radius: 0 25px 25px 0;
  color: #607D8B;
}

.navbar.navbar-dark .input-group .btn-light {
  border-radius: 25px 0 0 25px;
  color: #607D8B;
  background: #fff;
}

.navbar.navbar-dark .input-group .search-btn {
  position: absolute;
  right: 0;
  padding: 5px;
}

.navbar.navbar-dark .input-group .search-btn i {
  color: #237d4e;
  font-size: 25px;
}

.navbar.navbar-dark .kt-header__topbar {
  padding-right: 0;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-welcome {
  color: #fff !important;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item {
  position: relative;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon i {
  color: #fff;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon:hover i {
  color: #237d4e;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item.show .kt-header__topbar-icon i {
  color: #237d4e;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item .dropdown-menu-right {
  right: 0;
  left: auto;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-wrapper .kt-header__topbar-icon {
  background: none;
}

.navbar.navbar-dark .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user.show .kt-header__topbar-icon i {
  color: rgba(255, 255, 255, 0.5);
}

.navbar.navbar-dark .mapThumb {
  width: 80px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.modal {
  z-index: 1;
}

.modal .form-control {
  padding: 0px 10px;
  background: rgba(255, 255, 255, 0.5);
  height: auto;
  border-radius: 20px;
  border-color: #fff;
}

.modal select[multiple].form-control, .modal textarea.form-control {
  border-radius: 5px;
}

.modal label {
  font-weight: 300;
}

.modal .btn-sm {
  padding: 0.2rem 1rem;
}

.modal .modal-content {
  background-image: linear-gradient(-45deg, rgba(46, 139, 25, 0.7), rgba(19, 104, 165, 0.7));
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: none;
  color: #fff;
  zoom: 0.9;
}

.modal .modal-content .btn.btn-icon {
  height: 2.2rem;
  width: 2.2rem;
  color: #fff;
  margin: 2px;
}

.modal .modal-content .btn.btn-icon:hover {
  color: #237d4e;
}

.modal .modal-content .modal-header {
  border-bottom: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.8rem 1rem;
}

.modal .modal-content .modal-header .close {
  color: #000;
}

.modal .modal-content .modal-header .modal-title {
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.modal .modal-content .modal-body {
  padding: 0.8rem 1rem;
}

.modal .modal-content .modal-body .Legend .checkbox {
  margin-bottom: 5px;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal .modal-content .modal-body .Legend .checkbox img {
  margin-right: 10px;
}

.modal .modal-content .modal-body .Legend .checkbox label {
  margin: 0;
}

.modal .modal-content .modal-body .Legend .checkbox span {
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 20px;
  color: #000;
}

.modal .modal-content .modal-body .Legend .checkbox span i.la {
  cursor: pointer;
}

.modal .modal-content .expand {
  font-weight: 100;
  padding-bottom: 10px;
}

.modal .modal-content .expand label {
  margin-bottom: -10px;
}

.modal .modal-content .nav-pills {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.modal .modal-content .nav-pills .nav-item .nav-link {
  color: #000;
}

.modal .modal-content .nav-pills .nav-item .nav-link:active {
  background-color: #1367A5;
  color: #00ffe4;
}

.modal .modal-content .nav-pills .nav-item .nav-link.active {
  background-color: #1367A5;
  color: #00ffe4;
}

.modal .modal-content .nav-tabs.nav-tabs-line {
  margin: 0 0 10px 0;
}

.modal .modal-content .nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link, .modal .modal-content .nav-tabs.nav-tabs-line a.nav-link {
  color: #fff;
  padding: 2px 10px 3px;
}

.modal .modal-content .nav-tabs.nav-tabs-line .nav-item {
  margin-right: 0;
}

.modal .modal-content .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active, .modal .modal-content .nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active {
  color: #00ffe4;
  border-bottom: 1px solid #00ffe4;
}

.modal .modal-content .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav-tabs-line-2x {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.modal .modal-content .selectFilter {
  margin-bottom: 10px;
}

.modal .modal-content .selectFilter .form-control {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.4);
  border-color: #fff;
}

.modal .modal-content .mainList {
  margin: 10px 0;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}

.modal .modal-content .mainList .control {
  padding: 0px 10px;
  font-size: 20px;
}

.modal .modal-content .mainList .goTo {
  color: #fff;
  position: absolute;
  right: 15px;
  top: 6px;
  font-size: 20px;
}

.modal .modal-content .mainList .kt-checkbox {
  margin: 0;
}

.modal .modal-content .mainList .listItem {
  padding: 0.2rem 3rem 0.2rem 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.modal .modal-content .mainList .subList {
  margin-left: 20px;
}

.modal .modal-content .mainList .subList .subListItem {
  padding: 0.2rem 0.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.modal .modal-content .mainList .subList .opsions {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  border-radius: 25px;
  padding: 2px 30px 2px 5px;
  position: relative;
  margin: 5px 0 5px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  text-shadow: none;
  min-height: 32px;
}

.modal .modal-content .mainList .subList .opsions .goTo {
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  top: 4px;
  color: #282a3c;
  right: 4px;
  line-height: 26px;
}

.modal .modal-content .mainList .subList .opsions label {
  margin: 0 0 -5px;
}

.modal .modal-content .mainList .subList .opsions .noUi-target.noUi-horizontal {
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 100%;
  margin: 0 20px;
  border: 0px solid #282a3c;
  background: #282a3c;
}

.modal .modal-content .mainList .subList .opsions .noUi-target.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  top: -7px;
  right: -14px;
  border: 2px solid #282a3c;
}

.modal .Statistics .kt-portlet {
  margin-bottom: 0;
}

#dada-grid {
  position: fixed;
  z-index: 2;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#dada-grid .data-grid-openar {
  position: absolute;
  background: #fff;
  top: -28px;
  left: 50%;
  margin-left: -86px;
  padding: 5px 20px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  cursor: pointer;
}

#dada-grid .data-grid-openar i.la-chevron-circle-up {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#dada-grid .export {
  position: absolute;
  right: 30px;
  top: 5px;
  cursor: pointer;
  color: #000;
  font-size: 16px;
}

#dada-grid .export i {
  color: #237d4e;
}

#dada-grid .dg-container {
  max-height: 250px;
  overflow-y: auto;
  padding: 2rem;
  margin-bottom: -250px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#dada-grid.show .dg-container {
  margin-bottom: 0;
}

#dada-grid.show .data-grid-openar i.la-chevron-circle-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.right-tools, .left-tools {
  position: absolute;
  right: auto;
  left: 10px;
  top: 100px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.right-tools li, .left-tools li {
  width: 48px;
  height: 48px;
  background: url(../../media/bg/icon-bgBlue.svg) no-repeat center;
  background-size: contain;
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 48px;
}

.left-tools {
  right: 10px;
  left: auto;
}

.left-tools li {
  width: 34px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  background: url(../../media/bg/icon-bgGreen.svg) no-repeat center;
}

.map {
  width: 100%;
  height: calc(100vh - 53px);
}

/*-------------------------------------------*/
.login {
  background: url(../../media/bg/bg-login.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.login::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: url(../../media/bg/overlay.png) no-repeat top left;
  background-size: cover;
}

.login .form-control::-webkit-input-placeholder {
  color: #fff;
}

.login .form-control:-ms-input-placeholder {
  color: #fff;
}

.login .form-control::-ms-input-placeholder {
  color: #fff;
}

.login .form-control::placeholder {
  color: #fff;
}

.login .container {
  position: relative;
  z-index: 1;
}

.login .nav-tabs {
  border: none;
  border-bottom: 2px solid transparent;
}

.login .nav-tabs .nav-link {
  color: #fff;
}

.login .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.login .nav-tabs .nav-link.active {
  background: transparent;
  border: none;
  border-bottom: 2px solid #D3D866;
}

.login .tab-content {
  padding: 2em 0;
}

.login .tab-content .form-control {
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 10px 20px;
}

.login .tab-content .btn-primary {
  border-radius: 25px;
  background-image: -webkit-gradient(linear, right top, left top, from(#EE2646), to(#D3D866));
  background-image: linear-gradient(-90deg, #EE2646, #D3D866);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (min-width: 1024px) {
  .modal-dialog.modal-lg, .modal-dialog.modal-xl {
    max-width: 800px;
  }
}

@media (max-width: 1024px) {
  .kt-header__topbar {
    background-color: none;
    margin-top: auto;
    height: auto;
  }
  .navbar.navbar-dark .input-group {
    max-width: 400px;
  }
  .navbar.navbar-dark .kt-header__topbar {
    position: relative;
    background: none;
  }
  .navbar.navbar-dark .navbar-brand {
    letter-spacing: 1px;
    font-size: 12px;
  }
  .navbar.navbar-dark .kt-header__topbar-item .kt-header__topbar-icon {
    height: 34px;
    width: 28px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
    margin: 1.75rem auto;
  }
}
/*# sourceMappingURL=style.css.map */